{erl_opts, [{i, "src"},
            debug_info,
            warnings_as_errors,
            {w, all},
            warn_export_all]}.

{clean_files, [".eunit",
               "ebin/*.beam"]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

%% The extension of the artifact is modified in rebar.config.script for win32
{artifacts, ["priv/lz4.so"]}.

%% Compile nif using port compiler plugin
{plugins, [pc]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.

{port_specs, [
    {"priv/lz4.so", [
        "c_src/*.c"
    ]}
]}.
