{erl_opts, [{i, "src"},
            warnings_as_errors,
            {w, all},
            warn_export_all]}.

{clean_files, [".eunit",
               "ebin/*.beam"]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

%% Compile nif using port compiler plugin
{plugins, [pc]}.
{artifacts, ["priv/lz4.so"]}.
{port_specs, [{ "priv/lz4.so", ["c_src/*.c"] }]}.
{provider_hooks,
    [ {post, [ {compile, {pc, compile}},
               {clean, {pc, clean}} ] }] }.
